[submodule "nexmon"]
	path = nexmon
	url = https://github.com/seemoo-lab/nexmon.git
[submodule "userland"]
	path = userland
	url = git@github.com:umr-ds/broadcast-tree-protocol.git
[submodule "ns-3/btp"]
	path = ns-3/btp
	url = git@github.com:umr-ds/broadcast-tree-ns3.git
