[Unit]
Description=FirstBoot
After=network.target apt-daily.service apt-daily-upgrade.service
Before=rc-local.service
ConditionFileNotEmpty=/bin/firstboot.sh

[Service]
ExecStart=/bin/firstboot.sh
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
